// =====================================
// LAYOUT RULES
// =====================================

// CSS, by its very nature, is used to lay elements out on the page.
// However, there is a distinction between layouts dictating the major and minor components of a page.
// The minor components such as a callout, or login form, or a navigation item sit within the scope of major components such as a header or footer.

#page-site-index #region-main, 
#page-course-category #region-main, 
#page-course-search #region-main, 
#page-mod-turnitintool--view #region-main, 
.pagelayout-admin #region-main, 
.pagelayout-base #region-main, 
.pagelayout-report #region-main, 
.pagelayout-standard #region-main, 
.pagelayout-incourse #region-main, 
#page-message-edit #region-main, 
.pagelayout-course #page-content{
	margin: 0;
}

// =====================================
// REGION PRE
// =====================================
	


.pagelayout-course{
	#region-pre{
		display: block;
	}
}



// =====================================
// PAGE-WRAPPER
// =====================================
	
#page-wrapper{
	//background: #eaeaea;
	background: $bgcolor;
}

// =====================================
// REGION MAIN
// =====================================
#region-main{
	padding-right: 0px;
}

.pagelayout-course #region-main{	
	@include border-top-left-radius(4px);
	@include border-bottom-left-radius(4px);
	border-right: 1px solid #e1e3e6;
	background: #fff;
	width: 67%;
	float: left;
}

.pagelayout-course #region-main,
.pagelayout-incourse #region-main,  , 
#page-course-edit #region-main, 
#page-enrol-users #region-main, 
#page-mod-page-mod #region-main{
	padding: 18px 30px;
	position: relative;
	z-index: 1;
	background: #fff;
	font-family: $sansserif;
	
}

@media (max-width: 850px){
	aside{
		padding: 0 20px;
	}
	.pagelayout-course #region-main, 
	.pagelayout-incourse #region-main, 
	#page-course-edit #region-main, 
	#page-enrol-users #region-main, 
	#page-mod-page-mod #region-main{
		padding: 18px 20px;
		position: relative !important;
		width: inherit !important;
	}
}

/*#region-main > div[role=main]{
	border-top: 3px solid #F0F0F0;
}*/

.pagelayout-admin #region-main > div[role=main] {
	padding-top: 20px;
}

#page-site-index #region-main > div[role=main]{
	border-top: none;
}


.pagelayout-base #region-main,
#page-enrol-users #region-main, 
#page-mod-page-mod #region-main, 
#page-message-edit #region-main,

#page-course-edit #region-main, 
.pagelayout-admin #region-main, 
.pagelayout-report #region-main, 
.pagelayout-incourse #region-main{
	width: 100%;
}

.path-course.pagelayout-coursecategory #region-main, .pagelayout-standard #region-main, .pagelayout-frontpage #region-main{
	width: 67%;
	border-right: 1px solid #d5d7d8;

}


@media (max-width: 850px){
	.path-course.pagelayout-coursecategory #region-main, .pagelayout-standard #region-main, .pagelayout-frontpage #region-main{
		width: inherit !important;
		position: relative !important;
		border-right: none;
	}
}

#page-course-category #page-content, 
#page-course-search #page-content, 
.pagelayout-frontpage #page-content{
	padding: 18px 30px 54px;
	@extend %panelstyle;
}

@media (max-width: 850px){
	#page-course-category #page-content, 
	#page-course-search #page-content, 
	.pagelayout-frontpage #page-content{
	padding: 18px 20px 54px;

}
}


//#page-course-search #region-main, 
//#page-site-index #region-main, 
#page-mod-turnitintool--view #region-main, 
.pagelayout-admin #region-main, 
.pagelayout-base #region-main,
.pagelayout-report #region-main, 
//.pagelayout-standard #region-main, 
.pagelayout-incourse #region-main, 
#page-message-edit #region-main {
	padding: 18px 30px 54px;

	@extend %panelstyle;
}

@media (max-width: 767px){
	//#page-site-index #region-main, 
	//#page-course-category #region-main, 
	//#page-course-search #region-main, 
	//#page-site-index #region-main, 
	#page-mod-turnitintool--view #region-main, 
	.pagelayout-admin #region-main, 
	.pagelayout-base #region-main, 
	.pagelayout-report #region-main, 
	//.pagelayout-standard #region-main, 
	#page-message-edit #region-main{
		padding: 18px 20px;
	}
}

@media (max-width: 850px) and (min-width: 768px){
	.pagelayout-course #region-main, .pagelayout-incourse #region-main{
		width: 100%;
		margin-top: 0px;
	}
}

// =====================================
// PAGE CONTENT
// =====================================
.pagelayout-course #page-content{
	@extend %panelstyle;
	position: relative;
	z-index: 1;
	background: #fff;
}

@media (max-width: 850px) and (min-width: 768px){
	.pagelayout-course #page-content{
		width: 100%;
		margin-top: 0px;
	}
}

// =====================================
// PAGE 
// =====================================

#page{
	padding-top: 72px;

}

@media (max-width: 850px){
#page{

	overflow: hidden;
}
}



#page-login-index #page{
	margin-top: 0px;
}

@media (max-width: 767px){
	#page{
		margin-top: 0px;
	}
}

@media (max-width: 850px){
	html.login-page #page{
		padding: 0 20px;
	}
}

// =====================================
// PAGE HEADER
// =====================================
#page-header {
	padding-top: 0px;
	margin-top: 53px;
	max-width: 920px;
	border: none;
	padding-bottom: 8px;
	margin-bottom: -4px;
	position: relative;
	margin: 85px auto -4px;
	background: #FFFFFF;
	display: none;
	border-bottom: 3px solid #D8D8D8;
}

@media (max-width: 767px){
	#page-header{
		display: none;
	}
}

@media (max-width: 850px) and (min-width: 768px){
	#page-header {
		display: none;
	}
}

#static-page-header {
	padding-top: 0px;
	margin-top: 53px;
	border: 2px solid #ecedf0;
	padding-bottom: 10px;
	margin-bottom: -4px;
	position: relative;
	background: #dce4e4 url('../pix/header-bg.jpg');
}

#page-site-index #page-header{
	display: none;
}

// =====================================
// NAV
// =====================================

@media (max-width: 979px){
	.navbar .nav-collapse .nav.pull-right {
		float: right;
		margin-left: 0;
	}
}

@media (max-width: 979px){
	.nav-collapse .nav>li>.dropdown-menu:before, 
	.nav-collapse .nav>li>.dropdown-menu:after {
		display: block;
	}
}

@media (max-width: 979px){
	.nav-collapse .dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9;
		display: none;
		font-size: 14px;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 0px 0 0;
		list-style: none;
		background-color: #fff;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,0.2);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}
}

.navbar .brand {
	margin: 9px 0 0 0px;
	font-family: $headingfont;
}

.navbar-fixed-top{
	height: 46px;
}

@media (max-width: 850px) and (min-width: 768px){
	.navbar-fixed-top {
		margin-bottom: 20px;
		padding-bottom: 0px;
		height: 53px;
	}
}

@media (max-width: 768px){
	.navbar-fixed-top {
		margin-bottom: 20px;
		padding-bottom: 0px;
		height: 53px;
	}
}

.navbar .nav {
	position: relative;
	left: 0px;
	display: block;
	float: left;
	margin: 10px 10px 0 0;
}

.navbar > .navbar-inner > .container-fluid > .nav {
	left: 40px;
	margin: 11px 10px 0 0;
}

.navbar{
	font-family: $sansserif;
}

.navbar-fixed-top .navbar-inner {
	/*height: 56px;
	padding-right: 0px;
	background-color: #3e4b51;
	@include background-image(linear-gradient(#435158, #39454b));
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: none;
	padding: 5px 0px 0px;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
	box-shadow: rgba(0,0,0,0.2) 0 1px 2px;*/

	height:48px;

padding-right: 0px;
background: #2F393F;
border-bottom: none;
background-image: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
filter: none;
padding: 0px 0px 0px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
box-shadow: rgba(0,0,0,0.05) 0 1px 5px;
}

@media (max-width: 850px){
	.navbar-fixed-top .navbar-inner {
		height: 53px;
		padding-right: 0px;
		background: #2F393F;
		background-image: none;
		background-repeat: repeat-x;
		border: none;
		position: relative;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		filter: none;
		padding: 5px 20px 0px 20px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		box-shadow: rgba(0,0,0,0.05) 0 1px 5px;
	}

	.navbar-fixed-top{
		position: relative !important;
	}

}

/*@media (max-width: 850px){
	.navbar-fixed-top {
		margin-bottom: 20px;
		padding-bottom: 0px;
		height: 60px;
	}
}*/

.navbar-fixed-top, 
.navbar-fixed-bottom {
	position: fixed !important;
	right: 0;
	top: 0;
	width: inherit !important;
	left: 0;
	z-index: 10;
	margin-bottom: 0;
}

.navbar-inverse{

	.brand, 
	.nav>li>a {
		text-shadow: none;
		font-weight: 400;
		display: inline;
		font-size: 14px;
		padding: 22px 13px 15px 14px;
		margin-right: 0px;
	}

	.brand{
		color: #E2E2E2;
		font-weight: 300;
		letter-spacing: -1px;
		font-size: 21px;
		padding: 2px 13px 18px 0px;
	}

	.brand:hover{
		color: #E2E2E2;
	}

	.nav {

		.active>a, 
		.active>a:hover, 
		.active>a:focus {
			color: #fff;
			background: #27282a;
			box-shadow: none;
			color: #75ccda;
			border-bottom: 4px solid #75ccda;
			padding: 22px 13px 18px 13px;
		}

		.active>a.menu-item-my-courses {
			background: #fff;
			color: #e68166;
			border-bottom: 3px solid #e68166;
		}

		> li > .icon-user,  
		> li > .icon-search{
			margin-top: 3px;
			margin-right: -5px;
			color: #999;
			position: relative;
			float: left;
		}
	}
}

.navbar-fixed-top .navbar-inner .dropdown-menu{
	margin: 0px 0 0;
}

.navbar .nav .open .dropdown-menu{
	filter:none;
}

.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active>.dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
	color: #999;
	background-color: none;
	background: none;
	text-decoration: underline;
}

.navbar-inverse .nav>li>a:focus, .navbar-inverse .nav>li>a:hover {
color: #999;
text-decoration: underline;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 12px;
	float: right;
}

@media (max-width: 850px){
	.brand{
		text-align: center;
		position: relative;
		float: left;
		margin: 0 auto;
		width: 100%;
		}
}

/* Revert 768 */
@media (max-width: 850px){
	.navbar .nav{
		display: none;
	}
}

.nav-collapse.collapse {
	height: auto;
	overflow: visible;
	clear: none;
}

.nav-pills>li>a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}




.nav>li>a>img {
	max-width: none;
	border-radius: 40px;
	margin-right: 10px;
	width: 30px;
	border: none;
	height: 30px;
	margin-top: -1px;
}

// =====================================
// SECTION 0
// =====================================

#section-0{

	display: none;

	.section .activity img.activityicon{
		display: none;
	}

	.section li.activity {
		padding: 0;
		clear: both;
	}

	.content ul.section{
		background: #F5F5F5;
		border-bottom: 3px solid #D8D8D8;
	}

	.course-content ul.topics li.section{
		font-style: italic;
		border-bottom: none;
	}

}

#section-0.section h1 {
	font-size: 21px;
	font-weight: 500;
	margin-bottom: -20px;
	margin-left: -19px !important;
	margin-right: -19px !important;
	margin-top: -10px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding: 10px 20px 0;
	background: #F5F5F5;
	font-style: italic;
}

.topics #section-0.collapsed{
	height: 101px;
}

// =====================================
// COURSE NAV
// =====================================
// course nav. Dirived from Bootstrap nav pills
.course-nav{

	> li { 
	    float: left;
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		-webkit-border-bottom-right-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;

		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;

		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		background: #f3f3f3;
		margin-right: 10px;

		> a:hover{
			background: none;
		}
	}

	> li:hover {
		text-decoration: none;
		background-color: #333537;
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		-webkit-border-bottom-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;

		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 0px;

		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;

		ul {
		    display: block;
		}
	}

	li ul {
	    width: auto;
	    position: absolute;
	    display: none;
		background-color: #333537;
	}

	ul li:hover {
	    width: auto;
		background-color: #333537;

		a {
			background-color: #333537;
		}
	}

	a {
	    margin: 0px;
	    padding: 10px;
	    display: block;
	    text-decoration: none;
	}

	a:hover + a {
		background-color: #333537;
	}

	.dropdown-menu{
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 9;
		display: none;
		font-size: 14px;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 0px 0 0;
		list-style: none;
		background-color: #2F393F;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,0.2);
		border: none;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 6px;
		-webkit-border-bottom-right-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;

		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;

		border-top-left-radius: 0px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		
		
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}
}

// =====================================
// footer
// =====================================

footer {
	.container-fluid{
		padding-bottom: 40px;
		.row-fluid.page-footer{
			background: #f8f8f8;
			border: 1px solid $lightbordercolour;
			border-top: none;
			-webkit-border-top-left-radius: 0px;
			-webkit-border-top-right-radius: 0px;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px;

			-moz-border-radius-topleft: 0px;
			-moz-border-radius-topright: 0px;
			-moz-border-radius-bottomright: 4px;
			-moz-border-radius-bottomleft: 4px;

			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			margin-bottom: 2rem;
			padding: 1rem 30px 0.5rem;
		}
	}
}